html {
  overflow-y: scroll;
}

.navbarNavIcon {
  margin-right:7px;
}

.test {
  position: relative;
  right:10px;
}

.productCard {
  width:15rem !important;
  height:27rem !important; 
  transition: box-shadow 0.2s ease-in-out;
  margin:5px 5px !important;
}

.productCard:hover {
  box-shadow: 0px 0px 5px 0px black;
}

.product-container > .row {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
}

.truncated-text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  word-wrap: break-word !important;
}

.productCardDetails {
  margin:0px 0px !important;
  padding:0px 0px !important;
  padding-left: 17px !important;
  overflow:hidden !important;
  max-height:100px !important;
}

.productCardDetails li {
  font-size: 0.7em !important;
  margin: 0px 0px !important;
  padding:0 0 !important;
  margin:0px 0px !important;
}

.productCard .price-text {
  color: rgb(93, 93, 255);
  margin-top:3px;
  font-size:1.2em !important;
}

.product-footer {
  margin-top:20px;
}

.extra-top-margin {
  margin-top:100px;
}

.login-section {
  background-color: red;
  
}

.form-input-label {
  text-align: left !important;
}

.form-login {
  width: 100% !important;
  max-width: 500px !important;
}

.form-product-control-panel {
  width: 100% !important;
  max-width: 500px !important;
}

.footerSocialMediaIcon {
  color:black !important;
  margin-right: 8px;
}