html {
  overflow-y: scroll;
}

.navbarNavIcon {
  margin-right:7px;
}

.test {
  position: relative;
  right:10px;
}

.productCard {
  width:15rem !important;
  height:27rem !important; 
  transition: box-shadow 0.2s ease-in-out;
  margin:5px 5px !important;
}

.productCard:hover {
  box-shadow: 0px 0px 5px 0px black;
}

.product-container > .row {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-x: auto !important;
}

.truncated-text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  word-wrap: break-word !important;
}


/* ------------------------------- */
/* product stuff                   */
/* ------------------------------- */
.productCardDetails {
  margin:0px 0px !important;
  padding:0px 0px !important;
  padding-left: 17px !important;
  overflow:hidden !important;
  position:absolute !important;
  top: 230px !important; 
  max-height:100px !important;
}

.productCardDetails li {
  font-size: 1.2em !important;
}

.product-card-title {
  position: absolute !important;
  top: 180px !important;
  font-size: 1.5em;
}

.productCardDetails li {
  font-size: 0.7em !important;
  margin: 0px 0px !important;
  padding:0 0 !important;
  margin:0px 0px !important;
}

.product-card-image-wrapper {
  min-height:150px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 5px !important;
}

.product-card-image {
  display:block !important;
  max-height:150px !important;
  max-width:100% !important;
  width:auto !important;
  height: auto !important;
  object-fit: contain !important;
}

.productCard .price-text {
  color: rgb(93, 93, 255);
  font-size:1.2em !important;
}

.product-purchase-button {
  right:15px !important;
  max-width: 46px !important;
}

.product-x-button {
  right:65px !important;
  max-width: 50px !important;
}

.product-card-footer {
  position:absolute !important;
  bottom: 15px !important;
}

.extra-top-margin {
  margin-top:100px;
}

.login-section {
  background-color: red;
  
}

.form-input-label {
  text-align: left !important;
}

.form-login {
  width: 100% !important;
  max-width: 500px !important;
}

.form-product-control-panel {
  width: 100% !important;
  max-width: 500px !important;
}

.footerSocialMediaIcon {
  color:black !important;
  margin-right: 8px;
}

/* ------------------------------- */
/* shopping cart                   */
/* ------------------------------- */
.navbar-shopping-cart-product-count-text {
  color: white !important;
  background-color: red !important;
  border-radius: 10px !important;
  width:20px !important;
  text-align: center !important;
  position: absolute !important;
  top:20px !important;
  right:2.5% !important;
  z-index: 1 !important;
  font-size:0.8em;
}

.shopping-cart-product-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  min-height:100px;
}

.shopping-cart-product {
  max-width: 100% !important;
  border: none !important;
}

.shopping-cart-product-image-wrapper {
  width:140px !important;
  float:left !important;
}

.shopping-cart-product-image {
  max-height:80px !important;
  max-width:100% !important;
}

.shopping-cart-text-wrapper {
  text-align: left !important;
  height:100% !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
  margin-left:150px;
}

.shopping-cart-product-x-button {
  float:right !important;
  width: 25px !important;
  height: 25px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.shopping-cart-text-extra-margin-left {
  
}

.wrap-scroll-view {
  display:flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  overflow-y: auto !important;
}

.unread-messages-container {
  max-height: 600px !important;
}

.searched-products-container {
  max-height: 800px !important; 
}

.wrap-scroll-view-max-height-standard {
  max-height: 600px !important;
}